---
interface ICountry {
  name: {
    common: string;
    official: string;
    nativeName: string;
  };
}

const countries = await fetch('https://restcountries.com/v3.1/all')
  .then(response => response.json())
  .then(data => data.map((country: Partial<ICountry>) => country?.name?.common));
---

<body>
  <header class='flex items-center h-3xl w-full h-12 bg-cyan-800 px-8'>
    <nav class='flex w-full justify-between text-zinc-100'>
      <h2>My App</h2>
      <div class='flex gap-4'>
        <a href='#'>Home</a>
        <a href='#'>About</a>
        <a href='#'>Contact</a>
      </div>
    </nav>
  </header>
  <main class='flex flex-col px-8 py-12'>
    <h1 class='text-3xl pb-8'>Welcome to the countries app</h1>
    <p class='pb-4'>Please check out the countries listed below!</p>
    <ul class='flex flex-row gap-4 flex-wrap'>
      {
        countries.map((countryName: string) => (
          <li class='border-cyan-500 border-2 p-2 rounded-lg hover:first-letter:text-fuchsia-500 hover:text-zinc-100 hover:bg-cyan-700 cursor-default'>
            {countryName}
          </li>
        ))
      }
    </ul>
  </main>
</body>
